<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<header>
    <% include ../template/header.ejs %>
</header>
<div class="container-profile">
    <article>
        <h1><%= pageTitle %></h1>
            <% include ../template/messages.ejs %>
            <h2> Hello  <%= builder.firstname%></h2>
        <table class="list-table">
            <tbody>
            <tr>
                <td>First name</td>
                <td>:</td>
                <td><%= builder.firstname%></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>:</td>
                <td><%= builder.lastname%></td>
            </tr>
            <tr>
                <td>Position</td>
                <td>:</td>
                <td><%= builder.position%></td>
            </tr>
            <tr>
                <td>Education</td>
                <td>:</td>
                <td><%= builder.education%></td>
            </tr>
            </tbody>
            <p>To contact with me:
                <a href="mailto:taniakysa@mail.ru"> E-mail </a>  or
                <a href="https://www.linkedin.com/"> Linkedin </a>
            </p>
        </table>
        <!-------------------------------- display reviews ---------------------->
        <h2>Reviews about me :</h2>
        <% reviews.forEach(function(review){%>

                 <p><%=review.description%></p>
                 <p><%=review.rating%></p>

                <p><%=review.author_id.firstname  + " " + review.author_id.lastname%></p>
                <p><%=review.builder_id%></p>
        <hr>
        <% })%>



        </tr>
        </tbody>

        <h3><a href="/builders/edit/<%= builder._id%>">Edit your details</a></h3>

        <h2><a href="/builders/profile/<%= builder._id %>/photo/upload"> Upload image</a></h2>

        <form action="/builders/delete/<%= builder._id%>" method="post">
            <button type="submit" onclick="<%-" deleteConfirm()" %>">Delete your profile</button>
        </form>
        <script type="text/javascript" color="red">
            function deleteConfirm() {
                return confirm ("Do you want to delete your account?")
            }
        </script>
    </article>
    <!------------------------------------------------------------------------------------->
    <div class="review">
        <table>
            <h1>Please leave a review about me and my work:</h1>
            <form action="/posts/postReview/<%= builder._id%>" method="post">
                <label class="radio-inline"><input type="radio" name="rating" value="1">1</label>
                <label class="radio-inline"><input type="radio" name="rating" value="2">2</label>
                <label class="radio-inline"><input type="radio" name="rating" value="3">3</label>
                <label class="radio-inline"><input type="radio" name="rating" value="4">4</label>
                <label class="radio-inline"><input type="radio" name="rating" value="5">5</label>
                <p>Add a couple of words about the builder and work what he/she has been done for you in the box below:</p>
                <textarea name="description" cols="54" rows="5" charswidth="3" placeholder="...write a review about a builder"></textarea>
                <button type="submit" >Send</button>
            </form>
        </table>
    </div>
<!--------------------------------------------------------------------------------------------->
    </div>
    <!--------------------------------------------------------------------------------->
<footer>
    <% include ../template/footer.ejs %>
</footer>
</body>
</html>