<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<header>
    <% include ../template/header.ejs %>
</header>
   <h1><%= pageTitle %></h1>
   <div class="container">
       <h2> Hello  <%= builder.firstname%></h2>
       <p><%= builderMessage %></p>
    <table class="list-table">
            <tbody>
            <tr>
                <td>First name</td>
                <td>:</td>
                <td><%= builder.firstname%></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>:</td>
                <td><%= builder.lastname%></td>
            </tr>
            <tr>
                <td>Position</td>
                <td>:</td>
                <td><%= builder.position%></td>
            </tr>
            <tr>
                <td>Education</td>
                <td>:</td>
                <td><%= builder.education%></td>
            </tr>
            </tbody>
    </table>
       <p>Upload the images:</p>
       <div>
           <label>Profile Image:</label>
           <input type="file" name="img">
       </div>
       <h3><a href="/builders/edit/<%= builder._id%>">EDIT</a></h3>
       <form action="/builders/delete/<%= builder._id%>" method="post">
        <button type="submit">DELETE</button>
       </form>
       <div class="review">
           <h1>Please leave a review about me and my work:</h1>
           <form action="/posts/postReview/<%= builder._id%>" method="post">
               <label class="radio-inline"><input type="radio" name="rating" value="1">1</label>
               <label class="radio-inline"><input type="radio" name="rating" value="2">2</label>
               <label class="radio-inline"><input type="radio" name="rating" value="3">3</label>
               <label class="radio-inline"><input type="radio" name="rating" value="4">4</label>
               <label class="radio-inline"><input type="radio" name="rating" value="5">5</label>
               <p>Add a couple of words about the builder and work what he has done for you</p>
               <textarea name="description" cols="70" rows="5" charswidth="3" placeholder="...write a review about a builder"></textarea>

               <td colspan="2"><button type="submit">Send</button></td>
           </form>
       </div>
            <h1>All customers reviews:</h1>
       <% for(var i = 0; i < reviews.length; i++) {%>
       <p><%=reviews[i].review.content %></p>
       <% } %>

</div>

<footer>
    <% include ../template/footer.ejs %>
</footer>
</body>
</html>