<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<header>
    <% include ../template/header.ejs %>
</header>
<h1><%- pageTitle %></h1>
   <div class="list-post" float="right" >
        <% for(let i = 0; i < posts.length; i++) {%>
            <a href="/customers/profile/<%=posts[i].author.id%>"><h2><%=posts[i].author.firstname + ' ' + posts[i].author.lastname %></h2></a>
            <h3><%=posts[i].post.title %></h3>
            <p><%=posts[i].post.content %></p>
            <p><%=posts[i].post.update %></p>
       <a href="mailto:<%=posts[i].author.email%>"><p><%=posts[i].author.email%></p></a>
        <% } %>
    </div>
<footer>
    <% include ../template/footer.ejs %>
</footer>
</body>
</html>