<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<header>
    <% include ../template/header.ejs %>
</header>
<h1><%- pageTitle %></h1>
    <div class="list-post" float="right" >
        <% for(let i=0; i<posts.length; i++) {%>
        <h3><%=posts[i].title %></h3>
        <p><%= posts[i].content %></p>
        <h5><%= posts[i].author %></h5>
        <h5><%= posts[i].firstname %></h5>
        <h6><%= posts[i].timestamp %></h6>
        <% } %>
    </div>
<footer>
    <% include ../template/footer.ejs %>
</footer>
</body>
</html>