<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
<header>
    <% include ../template/header.ejs %>
</header>
    <div class="images">
                    <h1>List type of work: </h1>
            <h3><%= title %></h3>
            <ul>
                <% for(var i=0; i<categories.length; i++){ %>
               <div class="block">
                   <li> <a href='<%= categories[i] %>'>
                            <%= categories[i] %>
                       </a>
                   </li>
               </div>
                <% } %>
            </ul>
    </div>
    <hr>
    <div>
        <style>
            img.display{
                width: 20%;
                height: 20%;
            }
        </style>
        <% if(files){ %>
            <% files.forEach(function(file) { %>

                 <% if (file.isImage) { %>

                    <img class="display" src="image/<%=file.filename %>" alt="">

                <%} else { %>
                    <%= file.filename %>
                <% } %>
        <form method="post" action="/photo/photogallery/<%= file._id %>?_method=delete">
            <button>Delete</button>
        </form>

            <% }) %>

        <% } else { %>
            <p> No file to show </p>
        <% } %>

    </div>
</body>
</html>