<!DOCTYPE html>
<html>
<head>
    <% include ../template/head.ejs %>
</head>
<body>
    <header>
        <% include ../template/header.ejs %>
    </header>
        <h1><%- pageTitle %></h1>
        <div class="post">

                <body>
                <h2>Recent posts from customers</h2>
                    <form action="/customers/profile" metod="post">
                        <td>Title
                            <input type="text" name="title" /><br/>
                            <textarea name="content" cols="50" rows="5" charswidth="23"></textarea></br>
                            <button type="submit">Submit</button>
                        </td>
                    </form>
                </body>
        </div>
        <div class="container">
            <h2> Hello  <%= customer.firstname%></h2>
            <table class="list-table">
                <tbody>
                <tr>
                    <td>First name</td>
                    <td>:</td>
                    <td><%= customer.firstname%></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>:</td>
                    <td><%= customer.lastname%></td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td>:</td>
                    <td><%= customer.dob%></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td><%= customer.email%></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>:</td>
                    <td><%= customer.phonenumber%></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>:</td>
                    <td><%= customer.address%></td>
                </tr>
                </tbody>
            </table>
            <h3><a href="/customers/edit/<%= customer._id%>">EDIT</a></h3>
            <form action="/customers/delete/<%= customer._id%>" method="post">
                <button type="submit">DELETE</button>
            </form>
        </div>
    <footer>
        <% include ../template/footer.ejs %>
    </footer>
</body>
</html>